$primary-color: #F57C00;

/* fonts */
html {
  font-family: 'Open Sans', sans-serif;
}

/* sticky footer */

#app {
 display: flex;
 min-height: 100vh;
 flex-direction: column;
}

main {
 flex: 1 0 auto;
}

/* logo */

#logo {
 max-height: 50px;
 cursor: pointer;
}

#logo-container {
  cursor: pointer;
}

.brand-logo {
 color: $primary-color !important;
 display: flex !important;
 vertical-align: middle;
 font-family: 'Raleway', sans-serif;
}

/* links */

nav li a {
 color: color('grey', 'darken-1');
}
nav .material-icons {
  color: $primary-color !important;
}

/* footer */

.page-footer {
  .row {
    margin-bottom: 0;
  }
}

footer.page-footer {
  margin-top: 0;
  padding: 0 20px;
}

/* helpers */

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.split-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
