$primary-color: #F57C00;

/* fonts */
html {
  font-family: 'Open Sans', sans-serif;
}

/* sticky footer */

#app {
 display: flex;
 min-height: 100vh;
 flex-direction: column;
}

main {
 flex: 1 0 auto;
}

/* nav */
nav {
  position: relative;
}

nav .nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  #logo-container {
    position: static;
    padding-right: 1rem;
  }
  .logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.button-collapse {
  .material-icons {
    color: $primary-color !important;
  }
}

/* logo */

#logo {
 max-height: 50px;
 cursor: pointer;
 position: static;
}

#logo-container {
  cursor: pointer;
}

.brand-logo {
 color: $primary-color !important;
 display: flex !important;
 vertical-align: middle;
 font-family: 'Raleway', sans-serif;
 left: 0 !important;
 transform: none !important;
}

nav .brand-logo {
  position: static;
}

/* links */

nav li a {
 color: color('grey', 'darken-1');
}

/* footer */

.page-footer {
  .row {
    margin-bottom: 0;
  }
}

footer.page-footer {
  margin-top: 0;
  padding: 0 20px;
}

/* helpers */

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.split-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-row {
  margin-bottom: 0.5rem;
  .btn-flat {
    margin-right: 0.5rem;
  }
}

.btn-flat:focus {
  background-color: color('grey', 'lighten-2');
}
