.modal {
  max-width: 600px;
}

.modal-content {
  .btn-row {
    align-content: center;
  }
}

.modal-content form .modal-text {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  height: 36px;
  div {
    white-space: pre;
  }
}
