.search-wrapper {
  padding: 0 1rem;
  border-bottom: 1px solid #e0e0e0;
  // background-color: #fafafa;
  z-index: -100;
}

#search-form {
  max-width: 1280px;

  .row {
    display: flex;
    align-items: center;;
    justify-content: space-around;
    margin-bottom: 0;
    .input-field {
      margin: 0 1rem 0 0;
    }
    input {
      margin: 5px 0 10px;
    }
    label {
      font-size: 1rem;
    }
    .select-wrapper {
      max-width: 100px;
    }
    button {
      flex-shrink: 0;
    }
  }
}
