.user-detail {
  margin-top: 5px;
}

.user-detail > .row {
  max-width: 100%;
  overflow-x: hidden;
}

.user-detail > .row > .col {
  float: none;
  margin: 0 auto;
  max-width: 100%;
  overflow-x: hidden;
}
