.user-detail {
  margin-top: 0.5rem;
  .tab-background {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 64px;
    width: 100vw;
    height: calc(48px + 0.5rem);
    border-bottom: 1px solid #e0e0e0;
    .tab-divider {
      position: relative;
      z-index: 0;
      top: calc(47px + 0.5rem);
    }
  }

  .tabs {
    border-bottom: 1px solid #e0e0e0;
  }

  .split-row {
    margin: 0.5rem 0;
  }

  .account-products > .split-row {
    margin: 1rem 0;
  }

  .account-product {
    .title {
      display: inline;
    }
    .product-image {
      overflow: hidden;
      .slider {
        max-height: 100%;
        max-width: 100%;
        img {
          overflow: hidden;
        }
      }
    }
    .product-manage {
      .btn {
        margin: 0.5rem;
      }
      .btn-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
      }
    }
  }
}

.user-detail > .row > .col {
  float: none;
  margin: 0 auto;
  overflow-x: hidden;
}
