<!DOCTYPE html>
<html>
  <head>
    <title>OffList</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDE1MgvvxMWgndHjPmSOEJIRAv9nQ6C6Cw&libraries=geometry"></script>
    <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Open Sans:300,400,600,700,400italic', 'Raleway:400']
        }
      });
    </script>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
